<%= link_to "BACK TO CHALLENGES", challenges_path %> <br><br>


<h1><%= @challenge.name%></h1>
<%= link_to "Start A Solution For This Challenge", new_solution_path %>
<br>
<br>
<p><strong>Description:</strong> <%= @challenge.description %></p>
<%# <p><strong>Created By:</strong> <%= @challenge.user.name %> %>


<br>

<h3>Test Pairs</h3>
<ul>
  <% @challenge.test_pairs.each do |test_pair|%>
    <li>
      <strong>Input:</strong> <%= test_pair.input %> <br>
      <strong>Output:</strong> <%= test_pair.output %> <br><br>
    </li>
  <% end %>
</ul>
<%# <% if @current_user.present? %>
<%= link_to 'Add A Test Pair', new_test_pair_path %><br>
<%# end %>
<br>
<%# <% if @current_user.present? %>
<%= link_to 'Edit Challenge', edit_challenge_path(@challenge.id) %><br>
<%= link_to 'Delete Challenge', challenge_path(@challenge.id), method: 'delete' %><br>
<%# end %>

<br>
