<%= link_to "BACK TO CHALLENGES", challenges_path %> <br><br>


<%= @challenge.name%>
<br>
<br>
<p>Description: <%= @challenge.description %></p>
<p>Created By: <%= @challenge.user.name %>


<br>


<ul>
  <% @challenge.test_pairs.each do |test_pair|%>
    <li>
      <%= test_pair.input %> <br>
      <%= test_pair.output %> <br>
    </li>
  <% end %>
</ul>

<br>

<h3>Comments:</h3>
<br>

<% @challenge.comments.each do |comment| %>

  <div class="comment">
  <h6><%= comment.user.name %>
  says:</h6>
  <%= simple_format(comment.body) %>

  </div>
    <% end %>


<%= form_tag comments_path do  %>
    leave a <%= label_tag :Comment %>: <br>
      <%= text_area_tag :body %> <br>
    <%= hidden_field_tag :challenge_id,"#{@challenge.id}" %>
    <br>
    <%= submit_tag "Post comment"%>
    <% end  %>
