<%= link_to "BACK TO CHALLENGES", challenges_path %> <br><br>


<%= @challenge.name%>
<br>
<% if @current_user.present? %>
<%= link_to 'Edit Challenge', edit_challenge_path(@challenge.id) %><br>
<%= link_to 'Delete Challenge', challenge_path(@challenge), method: 'delete' %>
<%= link_to 'Add A Test Pair', new_test_pair_path %><br>
<% end %>
<br>
<p>Description: <%= @challenge.description %></p>
<p>Created By: <%= @challenge.user.name %>


<br>


<ul>
  <% @challenge.test_pairs.each do |test_pair|%>
    <li>
      <%= test_pair.input %> <br>
      <%= test_pair.output %> <br>
    </li>
  <% end %>
</ul>

<br>

<%= link_to "Start A Solution For This Challenge", new_solution_path %>
