<!DOCTYPE html>
<html>
  <head>
    <title>BackendProject2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>


  <body>

    <header>
      <% if @current_user.present? %>
      <nav>
      <%= link_to 'Logout', login_path, method: 'delete', class: "logout"  %>
      <%= link_to 'Profile', user_path(@current_user.id) , class: "profile"  %> </nav>
      <div class = "welcome">
        &nbsp;&nbsp;&nbsp;Welcome back, <%= @current_user.name %>
      </div>
      <% else %>
      <%= link_to 'Signup', new_user_path, class: "signup" %>
      <% end %>
    </header>
    <main>
      <%= yield %>
    </main>

  </body>
</html>
