<!DOCTYPE html>
<html>
  <head>
    <title>BackendProject2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>


  <body>
<<<<<<< HEAD
    <% if @current_user.present? %>
    <nav>
    <%= link_to 'Logout', login_path, method: 'delete', class: "logout"  %> |
    <%= link_to 'Profile', users_path, class: "profile"  %> </nav>
    <p class ="welcomeB">Welcome back, <%= @current_user %> </p>
    <hr>
    <% else %>
    <%= link_to 'Signup', new_user_path, class: "signup" %> |
    <%= link_to 'Login', login_path, class: "signup" %>

    <% end %>
    <%= yield %>
=======
    <header>
      <% if @current_user.present? %>
      <nav>
      <%= link_to 'Logout', login_path, method: 'delete', class: "logout"  %>
      <%= link_to 'Profile', users_path, class: "profile"  %> </nav>
      <p class ="welcomeB">Welcome back, <%= @current_user %> </p>
      <hr>
      <% else %>
      <%= link_to 'Signup', new_user_path, class: "signup" %>
      <% end %>
    </header>
    <main>
      <%= yield %>
    </main>
>>>>>>> cec08f7ee46ee158b82e8b96c3968ea7635ec69a

  </body>
</html>
