<% if flash[:errors].present? %>
  <strong>Please correct the following errors in the form:</strong>
  <ol>
    <% flash[:errors].each do |error| %>
      <li>
        <%= error %>
      </li>
    <% end %>
  </ol>
<% end %>

<div class="form-group">

  <%= form_for @test_pair do |f| %>
  <%= f.label :input %>
  <%= f.text_field :input, class: "form-control" %>
  <br>
  <%= f.label :output %>
  <%= f.text_field :output, class: "form-control" %>
  <br>
  <%= f.label :test_pair_type %>
  <%= f.select :test_pair_type, ["integer", "string", "array"], class: "form-control" %>
  <br>
  <%= f.label :challenge_id %>
  <%= f.collection_select :challenge_id, Challenge.all, :id, :name, prompt: "Select Challenge", class: "form-control" %>
  <br>
  <br>
  <%= f.submit class: "btn-primary, btn-lg" %>
  <% end %>

</div>
